<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<style>
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
</style>
<body>

<h3>Registration</h3>

<div>
  <form id="myForm" method="POST" action="/UnixTime">
    <label for="start">Unix Time Stamp:</label>  
    <input type="submit" value="UnixTime">

    
    
  </form>
</div>

</body>
</html>
</body>
</html>